.wrap{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userDetails{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}